* {
margin: 0;
padding: 0;
box-sizing: border-box;
} 
body{
    background: #82E0AA;
font-size: 20px;
color: #000000;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-family: 'Bangers', cursive;
}

header{ background-image: url("../img/header.jpg");
 background-repeat: no-repeat;
 color: white;
 text-align: center;
 background-size: cover;
 height: 25%;
 font-size: 50px;
 font-family: 'Bangers', cursive;
 }

 nav a {
  background-color: black;
  transition: background-color .5s;
}

nav a:hover {
  background-color: #82E0AA;
  color: black;
}

.titulo { font-size: 50px;  }

.sobrerick { display: flex;
font-size: 50px;
margin-bottom: 3%;
margin-top: 3%;
font-family: 'Bangers', cursive;
} 

.sobrericktexto { display: inline-block; justify-content: space-around; margin-right: 3%;
max-width: 45%;
font-family: 'Roboto', sans-serif;
font-size: 17;}

.sobrerickimg { display: inline-block; justify-content: space-around;
    max-width: 45%; 
}

#header { font-size: 50px }
#conteiner{ 
 width: 70%;
 max-width: 90%;
    margin-left: auto;
    margin-right: auto;

 } 
 .inforickymorty { display: flex;
justify-content: center;
padding: 0;
margin: 0; 
width: 70%;
 max-width: 51%;
    }

.nav { display: flex; justify-content: space-around; 
    font-family: sans-serif;
    color: black;
  }

nav{ background-color: #161817; 

    size: 30%;
text-align: center;
font-size: 30px;
} 

li{
    display: inline;
}

li a {
    color: white; margin-right: 50;
    text-align: center;
    text-decoration: none;
}
li a: hover {
        Background-color: white;
         Color: black;
}

.logo { justify-content: left; }

.sobrenosotros{ 
    font-family: sans-serif;
    color: black; 
    display: flex; 
    justify-content: right;
    font-family: 'Bangers', cursive;
    }

.reviewsycomentarios { 
    font-family: sans-serif;
    color: black; 
    }

    .reviewspic {
         margin-top: 5%;
    display: flex;
    color: black;
}

.reviewspic div {
    width: 60%;
    padding: 2%;
    text-align: center;
    color: black;
}

.reviewspic div a img {
    width: 100%;
    margin-bottom: 2rem;
    color: black;
    }
    .reviewspic li a { color: black; }

    .reviewsgf div a img { max-width: 40%; }

.personajes { 
    font-family: sans-serif;
    color: black; 
    }
.contenedor {
    display: flex;
    align-items: flex-start;
    padding-top: 5%;
}
.contenedorm {
     display: flex;
    align-items: flex-start;
    padding-top: 5%;
}
.contenedorb {
     display: flex;
    align-items: flex-start;
    padding-top: 5%;
}
.contenedors {
     display: flex;
    align-items: flex-start;
    padding-top: 5%;
}
.contenedorj {
     display: flex;
    align-items: flex-start;
    padding-top: 5%;
}
    .persrick {
    display: inline-block;
    width: 50%;
    justify-content: space-around;
    margin-left: 1%;
    margin-bottom: 5%;
}
.persrick p {
     font-family: 'Roboto', sans-serif;
font-size: 17;
}
.persrickimg { 
    display: inline-block;
    width: 40%; }
    .persrickimg img {
        width: 90%;
        height: auto;
    margin-bottom: 5%;
    margin-left: 30%;
    }
        .persmorty {
    display: inline-block;
    width: 50%;
    justify-content: space-around;
    margin-left: 1%;
    margin-bottom: 5%;
}
.persmorty p {
     font-family: 'Roboto', sans-serif;
font-size: 17;
}

.persmortyimg { 
    display: inline-block;
    width: 40%; }
    .persmortyimg img {
        width: 90%;
        height: auto;
        margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 30%;
    }
        .persbeth {
    display: inline-block;
    width: 50%;
    justify-content: space-around;
    margin-left: 1%;
    margin-bottom: 5%;
}
.persbeth p {
     font-family: 'Roboto', sans-serif;
font-size: 17;
}
.persbethimg { 
    display: inline-block;
    width: 40%; }
    .persbethimg img {
        width: 90%;
        height: auto;
        margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 30%;
    }
        .perssummer {
    display: inline-block;
    width: 50%;
    justify-content: space-around;
    margin-left: 1%;
    margin-bottom: 5%;
}
.perssummer p {
     font-family: 'Roboto', sans-serif;
font-size: 17;
}
.perssummerimg { 
    display: inline-block;
    width: 40%; }

    .perssummerimg img {
        width: 90%;
        height: auto;
        margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 30%;
    }

    .persjerry {
    display: inline-block;
    width: 50%;
    justify-content: space-around;
    margin-left: 1%;
    margin-bottom: 5%;
}
.persjerry p {
     font-family: 'Roboto', sans-serif;
font-size: 17;
}
.persjerryimg { 
    display: inline-block;
    width: 40%; }

    .persjerryimg img {
        width: 90%;
        height: auto;
        margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 30%;
    }

 .galeria { 
    font-family: sans-serif;
    color: black; 
    font-size: 50;
    }

    .imagenes_galeria {
        justify-content: center;
        margin-left: 5%;
        margin-top: 5%;
        margin-right: 5%;
        font-size: 40;
    }
    .imagenes_galeria img {
        padding-left: 50;
        padding-bottom: 20;
        padding-top: 20;
    }
    .imagenes_galeria h1 {
        padding-left: 50;
    }

    .principal { font-size: 20px; 
        display: inline-block;
        margin-left: 3%;}

.secundario {
    margin-top: 5%;
    display: flex;
}

.secundario div {
    width: 33%;
    padding: 2%;
    text-align: center;
}

.secundario div a img {
    width: 100%;
    margin-bottom: 2rem;
}
.secundario li a { color: black; }

h4 {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #A2D9CE
    text-decoration: none;
}
.sobrenosotros2 {
    display: inline-block;
    width: 50%;
    justify-content: space-around;
    margin-left: 1%;
    margin-bottom: 2%;
    padding: 2%;
    font-family: 'Bangers', cursive;
}
.sobrenosotros2 p {
    font-family: 'Roboto', sans-serif;
    font-size: 17;
}
.sobrenosotros2img { 
    display: inline-block;
    width: 40%; }
    .sobrenosotros2img img {
        width: 90%;
        height: auto;
    margin-top: 8%;
    margin-bottom: 5%;
    margin-left: 20%;
    padding-right: 20;
    }
    .sobrenosotros2 h2 {
        font-size: 60;
    }
    .contacto {
    display: inline-block;
    width: 50%;
    justify-content: space-around;
    margin-left: 1%;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 2%;
}
.contactoimg { 
    display: inline-block;
    width: 40%; }
    .contactoimg img {
        width: 90%;
        height: auto;
    margin-top: 8%;
    margin-bottom: 5%;
    margin-left: 20%;
    padding-right: 20;
    }
    .contacto input {
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .contacto textarea {
        margin-top: 3%;
        margin-bottom: 3%;
    }
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-color: black;
    margin-top: 20;
    max-height: 150;
    font-family: 'Bangers', cursive;
}
.navegadorpie li a {
    margin-top: 2;
    font-family: 'Bangers', cursive;
}

.navegadorpie {
    display: flex; justify-content: space-around; 
    font-family: sans-serif;
    color: black;
    font-size: 30;
    background-color: black;
    font-family: 'Bangers', cursive;
}

footer img {
    max-width: 2.5rem;
    width: 100%;
    height: auto;
    margin-right: 1%;
}
.icon {
    display: none;
}
.imghome0 {
    width: 592px; height: 400px;
}
.imghome{
    width:242px: ; height: 350px
}
.nytimesimg {
    width: 600px;
    height: 338px;
}

.persimg {
    width: 233px; height: 267px;
}










@media screen and (max-width: 480px) {

nav ul { display: none; 
}
 nav a {
  background-color: black;
  transition: background-color .5s;
}

nav a:hover {
  background-color: #82E0AA;
  color: black;
}
.icon { display: block; 
color: black;
font-size: 20px;
margin-left: 5px;
margin-top: 5px;}

header{ flex-wrap: wrap; 
    max-height: 50%;
    max-width: 480px;
 }
 header div, header a {
    flex: 1 o 50%;
 }
 header nav {
    flex-basis: 100%;
 }
 nav ul { display: none; }

 nav.responsive ul {
    display: inline-block;
    width: 100%;
    text-align: center;

 }
 .secundario {
    margin-top: 5%;
    display: inline-block;
max-width: 480px;}

.sobrerickimg { display: inline block; justify-content: space-around;
    max-width: 480px;
    width: 100%;
}
.sobrerickimg img 
{ display: inline block; justify-content: space-around;
    max-width: 480px;
    width: 100%;
    padding-right: 5px;
}
.imghome0 {
    max-width: 480px;
    width: 100%;
}
.imghome{
    max-width: 480px;
    width: 100%;
}
.sobrerick { display: inline block;
font-size: 50px;
margin-bottom: 3%;
margin-top: 3%;
font-family: 'Bangers', cursive;
} 

.sobrericktexto { display: inline-block; justify-content: space-around; 
margin-right: 3%;
max-width: 480px;
padding-bottom: 2%;}

.secundario div {
    
    width: 100%;
    padding: 2%;
    text-align: center;
}

.secundario div a img {
    display: inline-block;
    margin-left: 77px;
    max-width: 480px;
    width: 100%;
    margin-bottom: 2rem;
}
.secundario li a { 
  color: black; 
  font-size: 50px;
}
.secundario h2, h3, h4 {
    font-size: 40px;
    margin-left: 60px;
}
.sobrenosotros{ 
    display: inline-block; justify-content: space-around;
    font-family: sans-serif;
    color: black; 
    font-family: 'Bangers', cursive;
    max-width: 480px;
    width: 100%;
    }
    
    
.sobrenosotros img {
    margin-left: 5px;
    padding-left: 5px;
}
.sobrenosotros2 {
    display: inline-block; justify-content: space-around;
    font-family: 'Bangers', cursive;
    max-width: 480px;
    width: 100%;
}
.sn3 {
    display: inline-block; justify-content: space-around;
     max-width: 480px;
    width: 100%;
    font-size: 35px;
}

div.sobrenosotros2 p {
    display: inline-block; justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    font-size: 17;
    max-width: 480px;
    width: 100%;
}
.sobrenosotros2img { 
    display: inline-block;
    max-width: 480px;
    width: 100%; 
    margin-left: 5px;
    padding-left: 5px;
}
    .sobrenosotros2img img {
        width: 100%;
        max-width: 480px;
        height: auto;
    margin-top: 8%;
    margin-bottom: 5%;
    margin-left: 5px;
    padding-left: 5px;
    }

.ryc {
    display: inline-block; justify-content: space-around;
     max-width: 480px;
    width: 100%;
    font-size: 30px;
}
.nytimesimg {
    display: inline-block; justify-content: space-around;
    max-width: 480px;
    width: 100%;
    width: 200px; height: 160px;
}
.reviewsgf h3 {
text-align: center;
    margin-left: 8px;
}
.personajes { 
    display: block; justify-content: space-around;
    max-width: 480px;
    width: 100%; 
    }
.contenedor {
    display: block; justify-content: space-around;
    max-width: 480px;
    width: 100%;
    padding-top: 5%;
    padding-left: 5px;
    padding-right: 5px;
}
    .persrick {
    display: block; justify-content: space-around;
    max-width: 480px;
    width: 100%;
    margin-left: 5px;
    margin-bottom: 5%;
}
.persrick p {
     display: block; justify-content: space-around;
    max-width: 480px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}
.persrickimg { 
    display: block; justify-content: space-around;
    max-width: 480px;
    width: 100%; 
    margin-left: 5px;
        margin-right: 5px;
}

    .persrickimg img {
        display:  block; justify-content: space-around;
    max-width: 480px;
    width: 100%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    width: 400px; height: 363px;
    }
        .persmorty {
    display: block; justify-content: space-around;
    max-width: 480px;
    width: 100%;
    margin-left: 1%;
    margin-bottom: 5%;
}
.contenedorm {
    display: block; justify-content: space-around;
    max-width: 480px;
    width: 100%;
}
.persmorty h3 {
    display: block; justify-content: space-around;
    max-width: 480px;
    width: 100%;
    margin-left: 5px;
        margin-right: 5px;
}
.persmorty p {
     display: block; justify-content: space-around;
    max-width: 480px;
    width: 100%;
     margin-left: 5px;
        margin-right: 5px;
}

.persmortyimg { 
    display: block; justify-content: space-around;
    max-width: 480px;
    width: 100%; }

    .persmortyimg img {
        display: block; justify-content: space-around;
    max-width: 480px;
    width: 100%;
    width: 400px; height: 363px;
        margin-bottom: 5%;
    margin-left: 5px;
        margin-right: 5px;
    }
   
.contenedorb {
    display: block; justify-content: space-around;
    max-width: 480px;
    width: 100%;
}
        .persbeth {
    display: block; justify-content: space-around;
    max-width: 480px;
    width: 100%;
}
.persbeth p {
     display: block; justify-content: space-around;
    max-width: 480px;
    width: 100%;
     margin-left: 5px;
        margin-right: 5px;
}
.persbeth h4 {
    display: block; justify-content: space-around;
    max-width: 480px;
    width: 100%;
    margin-left: 5px;
        margin-right: 5px;
}
.persbethimg { 
    display: block; justify-content: space-around;
    max-width: 480px;
    width: 100%; }

    .persbethimg img {
       display: block; justify-content: space-around;
    max-width: 480px;
    width: 100%;
    width: 400px; height: 363px;
        margin-bottom: 5%;
    margin-left: 5px;
        margin-right: 5px;
    }

.contenedors {
    display: block; justify-content: space-around;
    max-width: 480px;
    width: 100%;
    margin-left: 5px;
        margin-right: 5px;
}
        .perssummer {
    display: block; justify-content: space-around;
    max-width: 480px;
    width: 100%;
    margin-left: 5px;
        margin-right: 5px;
}
.perssummer p {
     display: block; justify-content: space-around;
    max-width: 480px;
    width: 100%;
    margin-left: 5px;
        margin-right: 5px;
}
.perssummerimg { 
    display: block; justify-content: space-around;
    max-width: 480px;
    width: 100%;
    margin-left: 5px;
        margin-right: 5px;
     }

    .perssummerimg img {
        display: block; justify-content: space-around;
    max-width: 480px;
    width: 100%;
    width: 400px; height: 363px;
        margin-bottom: 5%;
    margin-left: 5px;
        margin-right: 5px;}

.contenedorj {
    display: block; justify-content: space-around;
    max-width: 480px;
    width: 100%;
    margin-left: 5px;
        margin-right: 5px;
}

    .persjerry {
    display: block; justify-content: space-around;
    max-width: 480px;
    width: 100%;
    margin-left: 5px;
        margin-right: 5px;
}
.persjerry p {
     display: block; justify-content: space-around;
    max-width: 480px;
    width: 100%;
   margin-left: 5px;
        margin-right: 5px;
}
.persjerryimg { 
    display: block; justify-content: space-around;
    max-width: 480px;
    width: 100%; 
margin-left: 5px;
        margin-right: 5px;
}

    .persjerryimg img {
        display: block; justify-content: space-around;
    max-width: 480px;
    width: 100%;
    width: 400px; height: 363px;
        margin-bottom: 5%;
        margin-left: 5px;
        margin-right: 5px;
    }

footer {
    max-width: 480px;
    width: 100%;
    max-height: 60px;
}
footer li a {
    font-size: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 480px;
    width: 100%;
}
footer nav {
    max-width: 480px;
    width: 100%;
}
.navegadorpie {
    max-width: 480px;
    width: 100%;
}
.navegadorpie li a {

    max-width: 480px;
    width: 100%;
}
div.sobrerickimg img{
    max-width: 480px;
    width: 100%;
} 

}
